# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [1]:
# 打開瀏覽器

from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup

import re
import pandas as pd

browser = webdriver.Chrome(executable_path='../chromedriver_win32/chromedriver.exe')

browser.get("http://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx")

In [2]:
# 模擬使用者操作行為，選擇/點擊

selectSite = Select(browser.find_element_by_id("ctl05_ddlSite"))
selectSite.select_by_value('11')
selectYear = Select(browser.find_element_by_id("ctl05_ddlYear"))
selectYear.select_by_value('2018')

browser.find_element_by_id('ctl05_btnQuery').click()

In [3]:
# 取得資料，丟到 BeautifulSoup 解析

html_source = browser.page_source

soup = BeautifulSoup(html_source, 'html.parser')
table = soup.find('table', class_='TABLE_G')

In [4]:
infos_dict = {}
for tag in table.findAll('td')[:]:
    if "class" in tag.attrs and "style" in tag.attrs:
        name = tag.text
        infos_dict[name] = {}
        
    else:
        if re.compile("\d{4}\/\d{2}").match(tag.text):
            #print(tag.text)
            date = tag.text
            infos_dict[name][date] = {}
        elif re.compile("\d+").match(tag.text):
            #print(tag.text)
            value = tag.text
            infos_dict[name][date] = value
            

df_infos = pd.DataFrame(infos_dict)

In [5]:
# 關閉瀏覽器
browser.quit();

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [6]:
'''
Your Code
'''

'\nYour Code\n'

In [7]:
df_infos.loc["2018/01":"2018/08"]

          SO2    CO     O3 PM10    NOx    NO    NO2  THC  NMHC
2018/01  1.80  0.34  33.40   23  14.17  3.41  10.77  NaN   NaN
2018/02  1.90  0.44  32.50   41  19.43  4.48  14.95  NaN   NaN
2018/03  2.20  0.40     35   39  18.50  4.93  13.56  NaN   NaN
2018/04  2.30  0.38  38.40   48  15.24  2.60  12.64  NaN   NaN
2018/05  3.10  0.34  31.60   37  15.20  2.26  12.94  NaN   NaN
2018/06  2.70  0.29  29.50   26  13.79  2.41  11.38  NaN   NaN
2018/07  2.20  0.21  18.70   24  11.60  2.68   8.92  NaN   NaN
2018/08  2.40  0.30  26.40   26  14.75  2.68  12.08  NaN   NaN

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [8]:
'''
Your Code
'''

'\nYour Code\n'

In [9]:
df_infos[["SO2","CO"]].loc["2018/01":"2018/08"]

          SO2    CO
2018/01  1.80  0.34
2018/02  1.90  0.44
2018/03  2.20  0.40
2018/04  2.30  0.38
2018/05  3.10  0.34
2018/06  2.70  0.29
2018/07  2.20  0.21
2018/08  2.40  0.30